body {
font-family: Arial, sans-serif;
margin: 0;
background: #0f172a;
color: white;
}

header {
text-align: center;
padding: 50px;
background: linear-gradient(90deg,#2563eb,#06b6d4);
}

section {
padding: 40px;
}

h2 {
color: #06b6d4;
}

.skills ul {
display: flex;
gap: 15px;
flex-wrap: wrap;
}

.skills li {
background: #1e293b;
padding: 10px;
border-radius: 8px;
}

.projects {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
gap: 20px;
}

.card {
background: #1e293b;
padding: 20px;
border-radius: 10px;
transition: 0.3s;
}

.card:hover {
transform: scale(1.05);
}

footer {
text-align: center;
padding: 20px;
background: #111827;
}